/* Pretty stuff goes here. */

* {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Georgia', serif;
}

#menu {
  background-color: #eef; /* Dev color */
}

#view {
  background-color: #fee; /* Dev color */
}
