/* Pretty stuff goes here. */

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 5px;
}

p {
  font-family: 'Georgia', serif;
}

#page {
  overflow: hidden;
}

#menu {
  background-color: #ddd; /* Dev color */
  float: left;
  width: 20%;
  margin: 1%;
  border-radius: 3px;
}

#view {
  background-color: #eee; /* Dev color */
  float: right;
  width: 76%;
  margin: 1%;
  border-radius: 3px;
}

.menubutton {
  width: 96%;
  margin: 2%;
  text-align: center;
}

.daycheckbox {
  float: left;
}

#sourceframe {
  position: fixed;
  bottom: 18%;
  right: 18%;
  width: 64%;
  height: 64%;
  box-shadow: 0px 0px 85px rgba(0, 0, 0, .9);
  background-color: #333;
}

#eventwizard {
  position: fixed;
  bottom: 18%;
  right: 18%;
  width: 64%;
  height: 64%;
  background-color: #cde;
  box-shadow: 0px 0px 85px rgba(0, 0, 0, .9);
  padding: 10px;
  border-radius: 5px;
}

#sourcewizard {
  position: fixed;
  bottom: 18%;
  right: 18%;
  width: 64%;
  height: 64%;
  background-color: #cde;
  box-shadow: 0px 0px 85px rgba(0, 0, 0, .9);
  padding: 10px;
  border-radius: 5px;
}

.eventpane {
  position: fixed;
  bottom: 18%;
  right: 18%;
  width: 64%;
  height: 64%;
  background-color: #ddd;
  box-shadow: 0px 0px 85px rgba(0, 0, 0, .9);
  padding: 10px;
  border-radius: 5px;
}

#x {
  position: fixed;
  top: 14%;
  right: 17.5%;
  background-color: #caa;
  border-radius: 3px;
}

.dayboxon {
  background-color: #444;
  color: #ddd;
  border-color: black;
  border-width: 1px;
  border-style: inset;
  float: left;
  width: 2em;
  height: 2em;
  text-align: center;
}

.dayboxoff {
  background-color: #ddd;
  color: #444;
  border-color: black;
  border-width: 1px;
  border-style: inset;
  float: left;
  width: 2em;
  height: 2em;
  text-align: center;
}

.dayboxbounding {
  height: 2.5em;
}
