/* Pretty stuff goes here. */

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 5px;
}

p {
  font-family: 'Georgia', serif;
}

#page {
  overflow: hidden;
}

#menu {
  background-color: #ddf; /* Dev color */
  float: left;
  width: 20%;
  margin: 1%;
}

#view {
  background-color: #fee; /* Dev color */
  float: right;
  width: 76%;
  margin: 1%;
}

.menubutton {
  width: 96%;
  margin: 2%;
  background-color: #cce;
  text-align: center;
}

.daycheckbox {
  float: left;
}

#sourceframe {
  position: fixed;
  bottom: 18%;
  right: 18%;
  width: 64%;
  height: 64%;
}

#eventwizard {
  position: fixed;
  bottom: 18%;
  right: 18%;
  width: 64%;
  height: 64%;
  background-color: #ecf;
}

#sourcewizard {
  position: fixed;
  bottom: 18%;
  right: 18%;
  width: 64%;
  height: 64%;
  background-color: #ccc;
}

#x {
  position: fixed;
  top: 16%;
  right: 17%;
  background-color: #caa;
  border-radius: 3px;
}

.dayboxon {
  background-color: #444;
  color: #ddd;
  border-color: black;
  border-width: 1px;
  border-style: inset;
  float: left;
  width: 2em;
  height: 2em;
  text-align: center;
}

.dayboxoff {
  background-color: #ddd;
  color: #444;
  border-color: black;
  border-width: 1px;
  border-style: inset;
  float: left;
  width: 2em;
  height: 2em;
  text-align: center;
}

.dayboxbounding {
  height: 2.5em;
}
